.container
	.span10.well
		%legend 
			= @user.username
		.row
			.span1
				= image_tag avatar_url @user
			.span2
			%p 
				%span.label.label-inverse Name: 
				= @user.first_name + ' ' + @user.last_name	