- if  @current_user
  %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css'}
  .btn-group
    %a.btn.btn-primary{:href => show_user_path(@current_user)}
      %i.icon-user.icon-white
      = " #{@current_user.username}"
    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => show_user_path(@current_user)}
          %i.icon-list-alt
          Profile
      %li
        %a{:href => edit_user_path}
          %i.icon-pencil
          Settings
      %li.divider
      %li
        %a{:href => logout_path}
          %i.icon-off
          Logout
- else
  = link_to 'Log In', login_path, {class: 'btn'}
  = link_to 'Sign Up', signup_path, {class: 'btn'}