<% if @tools.count == 0 %>
    No tool was found matching that name
<% else %>
    <% @tools.each_with_index do |tool, index| %>
        <div class="tool_search_result">
          <a href="#"><h3><%= tool.name %></h3></a>
          <hr>
        </div>
    <% end %>
<% end %>
