<div id="search-page">
  <div id="search-panel">
    <%= form_tag({action: "search"}) do %>
        <%= text_field_tag :search_field, params[:search_field], id: 'search_field', placeholder:'Enter Search Phrase'  %>
        <button id="search_button" type="submit" class="btn">Search</button>
    <% end %>
  </div>

  <div id="search-panel-results">
    <div id="search-panel-results-left">
      <%= will_paginate @tools, id: 'search-result-pager',
                        class: 'pagination pagination-small',
                        previous_label: h("«"),
                        next_label: h("»"),
                        renderer: BootstrapPagination::Rails %>
    </div>
    <div id="search-panel-results-right">
      <span>Ratings:</span>
      <a href="#profile" data-toggle="tab">Recent</a>
      <a href="#profile" data-toggle="tab">Lowest</a>
      <a href="#profile" data-toggle="tab">Highest</a>
      <span>|</span>
      <a href="#profile" data-toggle="tab">History</a>
    </div>
    <div class="clear_float"></div>
  </div>
  <hr/>
  <div id="search-results">
    <%= render partial: "tool_result_set", locals: {tools: @tools}  %>
  </div>
</div>

