<div id="search-panel">
<%= form_tag({action: "search"}, {remote: true}) do %>
  <input id="search_field" name="search_field" type="text"/>
  <button type="submit" class="btn">Search</button>
<% end %>
</div>
<div id="search-results-panel">
  <div id="search-results-menu">

  </div>
  <div id="search-results">
  <% if @result_model %>
    <% render partial: 'tool_result_set', locals: {result_model: @result_model} %>
  <% end %>
  </div>
</div>