/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

#flash_messages{margin:10px auto;max-width:900px;}
#flash_messages #content{margin:0px 10px;}

 /* MAY BE A BETTER IDEA TO USE AN IMAGE W/TRANSPARENT BG FOR THE CLOSE BUTTON! */

 .flash button {padding: 1px; float: right; text-align: center; border-radius: 100%; border: none; height: 20px; width: 20px; }
 .flash div { display: inline-block;}
 #flash_notice { background-color: #FFDE00; color: #097054;}
 #flash_error button{ background-color: #260311; color: #910D2E; }
 #flash_notice button{ background-color: #BDA609; color: #FFDE00; }
 #flash_error { background-color: #910D2E; color: white; }
 #content-top{height:50px; margin:0px;padding:0px;}
 #content-bottom{float:none; margin:0px;padding:0px;}
 .clear_float{clear:both;}
 .auth_links{float:right;padding:15px 10px;}
 #content-top {
 	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.05);
 	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.05);
 	box-shadow: 0 1px 4px rgba(0,0,0,0.05);
 	height: 50px;
 	padding: 0 18px;
 	z-index: 1000;
 	border-bottom: 1px solid #c8c8c9;
 }
 hr{margin: 5px;}
 form{margin:0px;padding:0px;}
 .footer{margin:20px auto;text-align: center;width:800px;}
 .footer p{font-size:12px;color: #929292;}
