#search_field{height:40px;width:500px;margin:0 auto;}
#search_button{height:40px;}
#search-panel{margin:60px auto 0px auto;width:600px;}
#search-progress{margin:10px 0px;}
#search-results{ width:800px;margin:0 auto; }
