#search-page{width:800px;margin:0 auto;}
#search_field{height:40px;width:500px;margin:0 auto;}
#search_button{height:50px;}
#search-panel{margin:60px auto 0px auto;width:600px;}

#search-panel-results{margin-top: 30px;}
#search-panel-results-left,#search-panel-results-right{float:left;}
#search-panel-results-left{width:495px; min-height:37px;}
#search-result-pager{margin:3px 0px;padding:0px;}

#search-panel-results-right{width:300px;margin-top: 5px;}
#search-panel-results-right a {font-size: 12px;padding:4px 6px;}
#search-panel-results-right span{font-size: 12px;padding:4px 5px;}

#search-results{ width:800px;margin:0 auto; min-height: 500px;}
#search-progress{margin:10px 0px;}


